<?php

declare(strict_types=1);

namespace oglow\tools\Yacorapi;

/**
 * Class MyAuth
 *
 * Define this class to configure the basic URL to your confluence instances.
 *
 * {@link config.adoc} for configuration details
 */
class MyAuth
{
    /** Flag, to switch between test and productive instances. */
    public const bool USE_PROD = false;
    /** The base URL to access the <strong>productive</strong> instance. */
    public const string PROD_URL = '#confluence-url_for_production#';
    /** The base URL to access the <strong>test</strong> instance. */
    public const string TEST_URL = '#confluence-url_for_testing#';
}
