<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        failOnWarning="true"
        colors="true"
        bootstrap="tests/bootstrap.php">

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>

    <testsuites>
        <testsuite name="main">
            <directory>./tests</directory>
            <exclude>./tests/Yacorapi/RapiClientTest.php</exclude>
            <exclude>./tests/Addon/Projectdoc/**/*</exclude>
        </testsuite>
        <testsuite name="rapi">
            <file>./tests/Yacorapi/RapiClientTest.php</file>
        </testsuite>
        <testsuite name="pdt">
            <directory>./tests/Addon/Projectdoc</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="target/analysis/phpunit/junit.xml"/>
    </logging>

    <coverage
            includeUncoveredFiles="true"
            ignoreDeprecatedCodeUnits="false"
            pathCoverage="true"
            disableCodeCoverageIgnore="false">
        <report>
            <clover outputFile="target/analysis/clover/coverage.xml"/>
            <text outputFile="target/analysis/text/coverage.txt" showUncoveredFiles="true" showOnlySummary="false"/>
            <!--<html outputDirectory="target/analysis/html" />-->
        </report>

        <include>
            <directory>src</directory>
        </include>
    </coverage>
</phpunit>
